:root {}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  position: relative;
  /* overflow: hidden; */
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
